In [21]:
#Create one variable containing following type of data

In [1]:
a="dhruvin"

In [4]:
b=[1,4,'dhruv',6+7j]

In [6]:
c=23.45

In [8]:
d=(2,7,'surf',9,True)

In [20]:
#Given are some following variables containing data

In [11]:
var1 = ''

In [12]:
type(var1)

str

In [13]:
var2 ='[ DS , ML , Python]'

In [14]:
type(var2)

str

In [15]:
var3 = ['DS','ML','Python']

In [16]:
type(var3)

list

In [17]:
var4=1

In [18]:
type(var4)

int

In [19]:
#Explain the use of the following operators using an example

In [23]:
a=5

In [24]:
b=2

In [25]:
a/b

2.5

In [26]:
a%b

1

In [27]:
a//b

2

In [28]:
a**b

25

In [1]:
#Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [39]:
l=[1,3,45,2,5.53,True,'Dhruvin',"Suthar",53,False]
i=1

In [40]:
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'bool'>

In [45]:
# Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how manytimes it can be divisible.

In [43]:
A = 10
B = 5

In [44]:
if A%B == 0:
    print("Time it can be divisible ",A//B)
else:
    print("Its not purely divisible")

Time it can be divisible  2

In [46]:
#Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element isdivisible by 3 or not.

In [51]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [59]:
for i in list:
    if i%3==0:
        print("Divisible by 3 --> ",i)
    else:
        print("Not Divisible by 3 --> ",i)

Not Divisible by 3 -->  1
Not Divisible by 3 -->  2
Divisible by 3 -->  3
Not Divisible by 3 -->  4
Not Divisible by 3 -->  5
Divisible by 3 -->  6
Not Divisible by 3 -->  7
Not Divisible by 3 -->  8
Divisible by 3 -->  9
Not Divisible by 3 -->  10
Not Divisible by 3 -->  11
Divisible by 3 -->  12
Not Divisible by 3 -->  13
Not Divisible by 3 -->  14
Divisible by 3 -->  15
Not Divisible by 3 -->  16
Not Divisible by 3 -->  17
Divisible by 3 -->  18
Not Divisible by 3 -->  19
Not Divisible by 3 -->  20
Divisible by 3 -->  21
Not Divisible by 3 -->  22
Not Divisible by 3 -->  23
Divisible by 3 -->  24
Not Divisible by 3 -->  25

In [60]:
#Q7. What do you understand about mutable and immutable data types? Give examples for both showingthis property.

In [61]:
mutable=[1,2,3,4,5]

In [62]:
immutable=(6,7,8,9,0)

In [63]:
mutable[1]="changed"

In [64]:
mutable

[1, 'changed', 3, 4, 5]

In [66]:
immutable(1)="Cant changed and throws error"

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2018362751.py, line 1)