Q1

A database is an organized collection of data that is stored and managed in a way that makes it easy to access, update, and manage. It allows for efficient data retrieval and manipulation. Databases are used to store information such as customer records, product details, or financial transactions.

SQL databases (Structured Query Language) are relational databases that store data in tables with rows and columns. Data is organized in a structured format, and SQL is used to query and manipulate this data. Examples include MySQL, PostgreSQL, and SQLite.

NoSQL databases are non-relational databases that do not require a fixed schema. They store data in various formats like documents, key-value pairs, graphs, or wide-column stores. NoSQL databases are often used for handling large volumes of unstructured or semi-structured data. Examples include MongoDB, Cassandra, and Redis.

Q2

DDL (Data Definition Language) is a subset of SQL used to define and modify the structure of database objects like tables, schemas, and indexes.

CREATE: Used to create a new database object like a table, view, or index.
CREATE TABLE students (id INT, name VARCHAR(50));

DROP: Used to delete an existing database object (like a table, view, or index).

DROP TABLE students;

ALTER: Used to modify an existing database object (such as adding or deleting columns in a table).

ALTER TABLE students ADD COLUMN age INT;

TRUNCATE: Used to delete all records from a table, but it does not remove the table structure.

TRUNCATE TABLE students; (This removes all data but keeps the table structure intact.)

Q3

DML (Data Manipulation Language) is a subset of SQL used to manipulate the data within the tables.

INSERT: Adds new records into a table.

INSERT INTO students (id, name) VALUES (1, 'John Doe');

UPDATE: Modifies existing records in a table.

UPDATE students SET name = 'Jane Doe' WHERE id = 1;

DELETE: Removes records from a table.

DELETE FROM students WHERE id = 1;

Q4

DQL (Data Query Language) is a subset of SQL used to query and retrieve data from a database.

SELECT: This is used to retrieve data from one or more tables.

SELECT * FROM students;

Q5

Primary Key: A primary key is a column or a set of columns that uniquely identifies each record in a table. It cannot have NULL values and must be unique for each record. Every table should have a primary key.

In a students table, id might be the primary key because each student will have a unique id.

Foreign Key: A foreign key is a column or set of columns in a table that links to the primary key of another table. It is used to enforce referential integrity between two related tables.

In an orders table, the student_id could be a foreign key that references the id in the students table, establishing a relationship between orders and students.

Q6

In [ ]:
import mysql.connector

conn = mysql.connector.connect(
    host="", 
    user="", 
    password="", 
    database=""
)

cursor = conn.cursor()

cursor.execute("SELECT * FROM students")

results = cursor.fetchall()
for row in results:
    print(row)

cursor.close()
conn.close()

cursor(): The cursor() method creates a cursor object that allows you to execute SQL queries. It acts as an interface between Python and the database, enabling you to run queries and fetch results.

execute(): The execute() method is used to run a SQL query on the database. It can execute any SQL statement, like SELECT, INSERT, UPDATE, etc. The query passed to execute() is sent to the MySQL server for execution.

Q7

FROM: Specifies the tables or views from which to retrieve data.

JOIN: If there are multiple tables, joins are applied next.

WHERE: Filters rows based on the condition.

GROUP BY: Groups rows into summary sets.

HAVING: Filters groups after they are formed.

SELECT: Chooses which columns to retrieve.

DISTINCT: Removes duplicate rows.

ORDER BY: Sorts the result set.

LIMIT: Limits the number of rows returned.