In [1]:
# Q1. How do you comment code in Python? What are the different types of comments?

In [2]:
# comment code in python can be done by putting '#' in fron tof the commment line

In [4]:
# this is example of first type of comment

In [8]:
'''This is second or multi level type of comment
it is mainly use to comment entire paragraph or many lines'''

'This is second or multi level type of comment\nit is mainly use to comment entire paragraph or many lines'

In [9]:
# Q2. What are variables in Python? How do you declare and assign values to variables?

In [10]:
# varibles ar nothing but the name of the charcter in which data is stored , it can be of any type of alphanumeric

In [11]:
# declaring variable name as a and assigniing value of 10 in it

In [12]:
a=10

In [13]:
# Q3. How do you convert one data type to another in Python?

In [14]:
# simply type the converting type and assign the variable of another type
# eg we have taken a as integer now converting into string format

In [15]:
str(a)

'10'

In [16]:
# Q4. How do you write and execute a Python script from the command line?

In [17]:
# to execute python script simply enter it or in jupiter notebook it will be Shift + Enter

In [18]:
# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [19]:
my_list=[1,2,3,4,5]

In [20]:
my_list[1:3]

[2, 3]

In [21]:
# Q6. What is a complex number in mathematics, and how is it represented in Python?

In [22]:
# Complex no is the combination of real and imaginary number
# its format is x+yi where x and y is real and i is imaginary no.

# in python its writen in same format Eg - 6+7i

In [23]:
# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [24]:
# simply decalre and assign the varriable , follow below:

In [25]:
age = 25

In [26]:
# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [27]:
#to find data type of variable use keyword tyep()

In [28]:
price = 9.99

In [29]:
type(price)

float

In [30]:
# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [32]:
name = 'Dhruvin Suthar'

In [33]:
print(name)

Dhruvin Suthar

In [34]:
# Q10. Given the string "Hello, World!", extract the substring "World".

In [35]:
hw = "Hello World!"

In [38]:
hw[6:12]

'World!'

In [39]:
# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [40]:
is_student = True